body {
  font-family: "Cormorant Upright", serif;
  background-color: #0c0c0c;
  color: #dcca87;
}

/* NORMALIZE-STYLES */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  display: block;
  cursor: pointer;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* COMMON */

.container {
  width: 1920px;
  padding: 0 120px;
  margin: 0 auto;
}

/* HEADER */

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /* text-align: center; */
  color: #fff;
  padding: 32px 0;
}

.head-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
}

.header-nav-list-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 46.5px 0;
}

.head-nav-list-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.header-btn {
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #fff;
  padding: 46.5px 0;
}

.line-svg {
  align-items: center;
  fill: aliceblue;
  background-color: #fff;
}

/* HERO */

.hero-full {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 180px;

  width: 1300px;
  margin: 48px auto 180px auto;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;

  width: 453px;
}

.preview-first-header {
  font-size: 23px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #fff;

  margin-bottom: 8px;
}

.preview-second-header {
  font-size: 90px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #dcca87;
}

.preview-text {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #aaa;
}

.preview-btn {
  padding: 8px 32px;
  width: 157px;
  height: 44px;
  background-color: #dcca87;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #0c0b08;
}

.hero-date {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #f5efdb;
}

/* SECTION-ONE */

.section-one {
  background-image: linear-gradient(
      90deg,
      rgba(8, 7, 7, 0.74) 0%,
      rgba(8, 7, 7, 0.795) 35%
    ),
    url(../images/malik-skydsgaard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 959px;
}

.section-one-full {
  display: flex;
  align-items: center;
  gap: 80px;

  height: 959px;
  width: 1300px;
  margin: 0 auto;
}

.section-one-first-list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 32px;

  width: 523px;
}

.first-list-item {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.section-one-header {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-align: right;
  color: #dcca87;
}

.sec-one-left-svg {
}

.section-one-text {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  text-align: right;
  color: #aaa;
}

.sec-one-btn {
  padding: 8px 32px;
  width: 141px;
  height: 44px;
  border: none;
  background-color: #dcca87;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #0c0c0c;
}

.section-one-second-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 32px;

  width: 523px;
}

.section-one-second-header {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #dcca87;
}

.section-one-second-text {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #aaa;
}

/* SECTION-TWO */

.section-two-container {
  position: relative;

  height: 777px;
  padding: 157px 0 152px 0;
}

.sec-two-logo {
  position: absolute;
  right: 30px;
  top: -22px;
}

.reservation {
  border: 1px solid rgba(220, 202, 135, 0.2);
  padding: 48px 32px;
  width: 1364px;
  height: 466px;
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
  background-color: #0c0c0c;
  margin: 0 auto;
}

.list-reservation-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-bottom: 64px;
}

.reservation-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-reservation {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 8px;
}

.header-reservation {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #dcca87;
}

.reservation-vields {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;

  margin-bottom: 64px;
}

.vields-set {
  width: 412px;
  height: 60px;
  border: 1px solid #f5efdb;
  background-color: transparent;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-align: center;
  color: #aaa;
}

.reservation-btn {
  border: 1px solid #dcca87;
  padding: 8px 20px;
  width: 133px;
  height: 44px;
  background-color: #dcca87;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #0c0c0c;

  margin: 0 auto;
}

/* SECTION-THREE */

.section-three {
  background-color: #050505;
  height: 900px;
}

.section-three-container {
  background-image: url(../images/background-sec-three.jpg);
  height: 900px;
  background-repeat: no-repeat;
  background-size: 1920px 900px;
  background-position: center;

  position: relative;
}

.sec-three-logo {
  position: absolute;
  margin-top: 20px;
}

.section-three-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 64px;

  position: absolute;
  bottom: 180px;
}

.section-three-link {
  /* display: block; */
  font-weight: 600;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-decoration: underline;
  color: #fff;
}
